<h1>Delicious Burgers!</h1>

<h2>Devour them while you can !</h2>

<h2> Burgers </h2>

<ul>
  {{#each burgers}}

  	 {{#unless this.devoured}}
      <li>

        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour it!</button>
        </form>

        <form action="/{{this.id}}?_method=DELETE" method="POST">
  <!-- <input type="hidden" name="id" value="{{this.id}}"> -->
  <button type="submit">DELETE!</button>
</form>
      </li>
      {{/unless}}
  {{/each}}
</ul>


<h2> Devoured </h2>

{{#each burgers}}
    {{#if this.devoured}}
      <li>
      	{{this.burger_name}}
        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
        </form>
      </li>
      {{/if}}
  {{/each}}




<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <button type="submit">Add a burger!</button>
</form>